/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', -apple-system, BlinkMacSystemFont, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-position: inside;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
